@import "../_variables";

.dashboardLayoutContainer {
    .dashboardLayout {
        padding-left: 16rem;
    }

}


.dashboardLayoutContainerNoSidebar {
    position: relative;
    .dashboardLayout {
        padding-left:0 !important;
    }
}