@import "../_variables";

.headerContainer {
    padding: 0.5rem 1rem;

    .headerLeft {
        :global {
            .ant-breadcrumb {
                height: 2.8rem;
                display: flex;
                align-items: center;

                ol {
                    li {
                        color: var(--text-secondary);
                        cursor: pointer;
                    }

                    li:last-child {
                        color: var(--text);
                    }

                    li:nth-last-child(2) {
                        color: var(--text);
                    }
                }
            }
        }
    }

    .headerRight {
        .profileDropdownContainer {
            .profileDropdownButton {
                gap: 4px;
                height: 1.9rem;
                padding: 0 1.1rem;
                border-radius: 24px;
                cursor: pointer;
                border: 1px solid var(--border);

                &:hover {
                    background-color: var(--sidebar-active);
                }

                .userName {
                    font-size: nth($fontSize, 2);
                    max-width: 10rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: var(--text);
                }

                .downArrow {
                    color: var(--text-secondary);
                }
            }
        }

        .notificationContainer {
            .profileDropdownButton {
                height: 1.9rem;
                width: 1.9rem;
                padding: 0;
                border-radius: 50%;
                justify-content: center;

                .downArrow {
                    color: var(--text);
                    font-size: nth($fontSize, 2);
                }
            }
        }
    }
}

.profileDropdownCard {
    border: 1px solid var(--border);
    border-radius: 8px;
    background: none;

    :global {
        .ant-card-body {
            width: 20rem;
            padding: 0;
            background-color: var(--card-bg);
            border: none;
            border-radius: 8px;
        }
    }

    .profileItem {
        padding: 0.5rem 0.8rem;
        gap: 0.6rem;
        cursor: pointer;
        margin: 0.4rem 0;
        display: flex;
        align-items: center;
        gap: 8px;
        flex-wrap: nowrap;

        &:hover {
            background-color: var(--sidebar-active);
        }

        .icon {
            color: var(--text-secondary);
        }

        .profileItemName {
            color: var(--text);
            font-size: nth($fontSize, 2);
            font-weight: 500;
            // width: 6.6rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .profileItemNameAddress {
            color: var(--text);
            font-size: nth($fontSize, 1);
            font-weight: 500;
            // width: 6.6rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .divider {
        background-color: var(--border);
        margin: 0.4rem 0;
    }
}

.notificationsDropdownCard {
    max-height: 35rem;
    min-height: 10rem;
    overflow-y: auto;
    position: relative;
    background-color: var(--card-bg) !important;

    :global {
        .ant-card-body {
            width: 36rem;
        }
    }

    .notificationsHeader {
        position: sticky;
        background-color: var(--green-text);
        border-radius: 8px 8px 0 0;
        padding: 0.8rem 1rem;
        font-size: nth($fontSize, 3);
        font-weight: 500;
        right: 0;
        left: 0;
        top: 0;
        z-index: 10;
    }

    .notificationCard {
        padding: 0.8rem 1rem;
        border-bottom: 1px solid var(--border);

        &:last-child {
            border-bottom: none;
        }

        .contents {
            .notificationTitle {
                color: var(--text);
                font-size: nth($fontSize, 3);
            }

            .notificationContent {
                color: var(--text-hover);
                font-size: nth($fontSize, 2);
            }
        }

        .times {
            color: var(--text-hover);
            font-size: nth($fontSize, 1);
        }
    }
}
