@import "../_variables";

.navbarContainer {
    height: 64px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 3rem;
    background: var(--bg);
    z-index: 100;

    .loginPageLogo {
        width: 7.5rem;
    }

    .navbarItems {
        .loginButton {
            height: 2.5rem;
            padding: 0 1.6rem;
        }

        .accountButton {
            background: var(--text-100);
            color: var(--text-secondary);
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            font-size: nth($fontSize, 2);

            &:hover {
                color: var(--text-secondary) !important;
            }

            .accountIcon {
                font-size: nth($fontSize, 2);
            }
        }

        .profileDropdownContainer {
            .profileDropdownButton {
                gap: 4px;
                height: 1.9rem;
                padding: 0 1.1rem;
                border-radius: 24px;
                cursor: pointer;
                border: 1px solid var(--border);

                &:hover {
                    background-color: var(--sidebar-active);
                }

                .userName {
                    font-size: nth($fontSize, 2);
                    max-width: 10rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .downArrow {
                    color: var(--text-secondary);
                }
            }
        }

        .notificationContainer {
            .profileDropdownButton {
                height: 1.9rem;
                width: 1.9rem;
                padding: 0;
                border-radius: 50%;
                justify-content: center;

                .downArrow {
                    color: var(--text);
                    font-size: nth($fontSize, 2);
                }
            }
        }
    }
}
