@import "../_variables";

.homeContainer {
    min-height: 100vh;
    display: flex;
    justify-content: center;

    .homeContent {
        padding-top: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .heroHeading {
            font-size: nth($fontSize, 12);
            font-weight: 500;
            align-items: center;
            margin-bottom: 0;
            text-align: center;

            span {
                color: var(--green-text);
            }
        }

        p {
            color: var(--text-secondary);
            align-items: center;
            font-size: nth($fontSize, 4);
            text-align: center;

        }

        .ctas {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            margin-top: 2rem;

            a {
                color: var(--green-text);
                border: 1px solid var(--border);
                border-radius: 4px;
                font-size: nth($fontSize, 2);
                width: 10rem;
                padding: 0.7rem 0;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    border-color: var(--green-text);
                }
            }
        }

        .airstackWrap {
            margin-top: 5rem;
            border: 1px solid var(--input-border-primary);
            border-radius: 4px;

            .airstackWrapImage {
                width: 100%;
                border-radius: 4px;
            }
        }
    }
}
